@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

button:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: .3s ease-in-out;
}

/** START PAGE STYLES **/


.start-page-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.start-page-plane {
    width: 50%;
    margin: 30px;
}

.start-page-left-col {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-image: url(/src/assets/beach.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.start-page-right-col {
    /* background-color: #93d1fa; */
    background-image: linear-gradient(to right, #e0e0e0 , #93d1fa);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-page-right-col form {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 350px;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-page-right-col form input {
    padding: 10px;
    border-radius: 12px;
    border: none;
}

.start-page-right-col form button {
    padding: 10px;
    border-radius: 12px;
    background-color: #ffa200;
    border: none;
    color: #fff;
}

/** TRIP PAGE STYLES **/
.trips-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    background-image: url(/src/assets/world.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trips-container .instructions {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    
}



.subtitle {
    margin-bottom: 30px;
}

.trip-info {
    margin-right: 10px;
}

.trip-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.trip-row:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.trip-row:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.trip-row:nth-child(odd){
    background-color: #93d1fa;
}

.trip-row:nth-child(even){
    background-color: #8bbefc;
}

.trip-row button {
    padding: 10px;
    height: 80%;
    margin: 0 10px;
    border-radius: 12px;
    border: none;
}

.view-trip-details-btn {
    color: #fff;
    background-color: rgb(21, 21, 123);
}

.add-flight-info-btn {
    color: #fff;
    background-color: rgb(0, 96, 128);
}

.add-hotel-info-btn {
    color: #fff;
    background-color: #6244BB;
}

.planning-another-trip {
    margin-top: 20px;
}

.add-new-trip-btn {
    margin-top: 20px;
    padding: 10px;
    height: 80%;
    border-radius: 12px;
    border: none;
    background-color: #ffa200;
}

/** FLIGHT MODAL STYLES **/
.flight-modal-container, .hotel-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e8e8e8;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flight-modal-container form, .hotel-modal-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 20px;
}

.flight-modal-container form label, .hotel-modal-container form label {
    color: #000000;
}

.flight-modal-container form input, .hotel-modal-container form input {
    padding: 10px;
    border-radius: 12px;
    border: none;
}

.submit-flight-info-btn {
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(0, 96, 128);
    border: none;
    color: #fff;
}

.submit-hotel-info-btn {
    padding: 10px;
    border-radius: 12px;
    background-color: #6244BB;
    border: none;
    color: #fff;
}

.success-msg {
    display: block;
    margin: 10px auto;
    color: forestgreen;
}

.failure-msg {
    display: block;
    margin: 10px auto;
    color: red;
}

.close-flight-modal-btn,
.close-hotel-modal-btn {
    position: relative;
    right: -290px;
    color: #ff0000;
    padding: 8px;
}

.fa-x:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: .3s ease-in-out;
}

/**TRIP DETAILS MODAL */
.trip-details-modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e8e8e8;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 350px;
}

.close-travel-details-modal-btn {
    position: relative;
    right: -235px;
    color: #ff0000;
    padding: 8px;
}

.close-travel-details-modal-btn:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: .3s ease-in-out;
}

.trip-details-top-container {
    text-align: center;
    margin-bottom: 20px;
}

.trip-details-bottom-container {
    display: flex;
    gap: 60px;
}

.trip-details-bottom-left-container h5,
.trip-details-bottom-right-container h5 {
    margin-bottom: 10px;
}

.trip-details-bottom-left-container p,
.trip-details-bottom-right-container p{
margin-bottom: 10px;
}

.trip-details-modal-container button {
    padding: 10px;
    border-radius: 12px;
    color: #fff;
    width: 50%;
    display: block;
    margin: 5px auto; 
}




.close-trip-details-btn {
    background-color: #3f3f3f;
    border: none;
}

.update-flight-btn {
    background-color: rgb(0, 96, 128);
    border: none; 
}

.update-hotel-btn {
    background-color: #6244BB;
    border: none;
}

.delete-trip-details-btn {
    background-color: #bb4444;
    border: none;
}


@media only screen and (max-width: 600px){
    .start-page-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
        height: 100vh;
    } 

    .start-page-left-col {
        padding: 30px;
    }

    .start-page-right-col {
        /* background-color: #93d1fa; */
        background-image: linear-gradient( #e0e0e0 , #93d1fa);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

